#cwd-container {
    font-family: tahoma;
}

#cwd-grid {
    border: solid 1px black;
}

#cwd-grid td.cwd-tile-highlight
{
    background-color: Yellow !important;
}


#cwd-grid td.red
{
    background-color: Red !important;
	color: White !important;
}

.d3 {
  width:90%;
  display: inline-block;
  margin: 0px;
  padding: 0px 0px;
  background: #B8ED01;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 6px;
  -ms-transition: all 0.3s ease-out;
  -webkit-animation: all 0.3s ease-out;
  -o-animation: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
   
   box-shadow:
    inset 0 5px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,1),
    0 0 0px 1px rgba(0,0,0,1);

 }

 

#cwd-grid td.green
{
    background-color: Green !important;
	color: White !important;
}



#cwd-grid td.cwd-tile-cursor
{
    border-color: White !important;
    background-color: darkgray !important;
    color: white;
}

#cwd-grid td.cwd-tile-correct
{
    background-color: Lime !important;
}

#cwd-grid td.cwd-tile-incorrect
{
    border-color: Red !important; 
}


.A {
	background-image: url("a.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;	
}


.D {
	background-image: url("d.gif");
    background-size:     contain;                     
    background-repeat:   no-repeat;
    background-position: center center; 
	color: transparent;	
}

.R{
	background: Red;
	color: transparent;	
}


.I{
	background: Yellow;
	color: transparent;	
}

.cwd-tile {
    width: 25px;
    height: 22px;
    border: solid 1px black;
    padding: 0;
    vertical-align: top;
}

.cwd-tile-word {
    width: 25px;
    height: 22px;
    border: solid 0px black;
    padding: 0;
    vertical-align: top;
}


.cwd-tile-letter {
    text-align: center;
    font-size: 16px; 
}

.red {
    text-align: center;
    font-size: 16px; 
}


.green {
    text-align: center;
    font-size: 16px; 
}

#cwd-clue-box {
    padding: 5px;
    margin-top: 5px;
    border: solid 1px black;
    font-size: 105%;
    font-weight: bold;
    height: 50px;
}

.cwd-clue-highlight
{
    font-weight: bold;
}

.cwd-clues-header {
    font-size: 105%;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cwd-clue div {
    display: table-cell;
}

.cwd-clue-no {
    width: 25px;
}

.cwd-clue-text {
    cursor: pointer;
}
